.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
    color: #ffffff !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    background-color: #2c2c2c !important;
    color: #ffffff !important;
}